
#ignore thumbnails created by windows
Thumbs.db

#ignore Desktop Service Store files created by mac
*.DS_Store

.DS_Store

#ignore eclipse setting files

.settings

/.settings

#Ignore all class compiled java class files
*.class

storybuilder/bin/

tests/bin/

/storybuilder/nbproject/private/
/tests/nbproject/private/

/.classpath
/.project
/storybuilder/build/

/tests/build/
/storybuilder.test/nbproject/private/